<div class="card-item col">
    <div class="card hoverable">
      <div class="row g-0">
        {% if organizer.img %}
          <div class="card-img col-md-5">
            {% include figure.liquid loading="eager" path=organizer.img sizes="(min-width: 768px) 156px, 50vw" alt="organizer thumbnail" %}
          </div>
        {% endif %}
        <div class="{% if organizer.img %}col-md-7{% else %}col-md-12{% endif %}">
          <div class="card-body">
            <h4 class="card-title">{{ organizer.name }}</h4>
            <p class="card-text">{{ organizer.affiliation }}</p>
            <div class="row ml-1 mr-1 p-0">
              {% if organizer.website %}
                    <a href="{{ organizer.website }}"><i class="ti ti-home"></i></a>
              {% endif %}
              {% if organizer.scholar %}
                    <a href="{{ organizer.scholar }}"><i class="ai ai-google-scholar"></i></a>
              {% endif %}
              {% if organizer.twitter %}
                    <a href="{{ organizer.twitter }}"><i class="fa-brands fa-twitter gh-icon"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
