<div class="grid-sizer"></div>
<div class="grid-item">
    <div class="card hoverable">
      {% if speaker.img %}
        {%
          include figure.liquid
          loading="eager"
          path=speaker.img
          sizes = "250px"
          alt="speaker thumbnail"
        %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ speaker.name }}</h2>
        <div class="card-text">{{ speaker.affiliation }}
        <div style="float:right;">
          {% if speaker.website %}
                <a href="{{ speaker.website }}"><i class="ti ti-home"></i></a>
          {% endif %}
          {% if speaker.scholar %}
                <a href="{{ speaker.scholar }}"><i class="ai ai-google-scholar"></i></a>
          {% endif %}
          {% if speaker.instagram %}
                <a href="{{ speaker.instagram }}"><i class="ti-icon-brand-instagram"></i></a>
          {% endif %}
          {% if speaker.twitter %}
                <a href="{{ speaker.twitter }}"><i class="fa-brands fa-twitter gh-icon"></i></a>
          {% endif %}
        </div>
        </div>
      </div>
    </div>
</div>
